* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.screen-add-words.hidden, .start-screen.hidden, .game-screen.hidden {
  display: none;
}

:root {
  --body-bg: #e5e5e5;
  --button-placeholder-bg: rgba(10, 56, 113, 1);
  --output-bg: #FFFFFF;
  --encrypt-button-font: rgba(255, 255, 255, 1);
  --decrypt-button-bg: rgba(216, 223, 232, 1);
  --notfound-bg: rgba(52, 58, 64, 1);
  --message-alert: rgba(73, 80, 87, 1);
  --light: #cccccc;
  --dark: #151515;
}

.dark-mode:root {
  --body-bg: #111425;
  --button-placeholder-bg: #7956FF;
  --output-bg: #000000;
  --encrypt-button-font: #51CFDB;
  --decrypt-button-bg: #51CFDB;
  --notfound-bg: #B6B5BB;
  --message-alert: #B6B5BB;
}

body {
  width: 100%;
  /* max-width: 100vw; */
  height: 100vh;
  background-color: var(--body-bg);
  overflow: hidden;
}

.header {
  margin: 10px;
  border: 1px solid red;
  padding: 20px 0 0 50px;
}

.container {
  /* border: 1px solid blue; */
  height: 75%;
  margin: 10px;
}

/* Start-Screen */

.start-screen {
  margin: 0 auto;
  /* border: 1px solid yellow; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.start-screen-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 30%;
  height: 50%;
  /* border: 1px solid black; */
  background-color: white;
  border: none;
  border-radius: 20px;
}

.btn-start {
  margin: 10px 0 10px 0;
  width: 60%;
  height: 30%;
  border-radius: 20px;
  font-size: 1.1em;
  color: var(--encrypt-button-font);
  background-color: var(--button-placeholder-bg);
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  
  
}

.btn-start:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(.96);
}

/* End Start-Screen */

/* Add Word Screen */

.screen-add-words {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid pink; */
  margin: 0 auto;

}

.text-area {
  width: 100%;
  height: 80%;
  
}

#new-word {
  background-color: transparent;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: 0;
  font-size: 2em;
  color: var(--button-placeholder-bg);
  
}

#new-word::placeholder {
  color: var(--button-placeholder-bg);
  
}

.btn-add-word {
  /* border: 1px solid black; */
  width: 100%;
  margin: 10px;
  display: flex;
  gap: 15px;
  
  
}

.btn {
  margin: 10px;
  width: 45%;
  padding: 1.2em;
  border: none;
  border-radius: 15px;
  font-size: 1em;
}

.btn-save {
  background-color: var(--button-placeholder-bg);
  color: var(--encrypt-button-font);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-cancel {
  background-color: var(--decrypt-button-bg);
  color: var(--button-placeholder-bg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn:active {
  transform: scale(.95);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* End Add Word Screen */

/* Game Screen */

.game-screen {
  width: 100%;
  height: 100%;
  border: 1px solid orange;
}

.game-board {
  height: 100%;
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 800px;
  border: 1px solid black;
}

/* Footer */

.footer {
  border: 1px solid green;
  width: 100%;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.social-network {
display: flex;
justify-content: space-around;
align-items: center;
width: 50%;
}

.copyright {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--button-placeholder-bg);
  padding: 10px 0 0 0;
}

/* End Footer */